body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(243 244 246);
  background-color: rgb(17 17 17);
  ;
}

a {
  color: #00B7FF;
}

.indexContainer {
  padding: 15vw;
}

.indexContainer > h2 {
  font-size: 5rem;
}

.indexContainer > h5 {
  font-size: 1.2rem;
  margin-top: 32px;
  margin-bottom: 32px;
}

.RootContainer {
  width: 100%;
  height: 100%;
  padding: 64px;
}

.nav-pills .nav-link.active {
  color: white;
  background-color: #198754;
}

.user-info-container {
  margin-top: 10vh;
  margin-left: 25vw;
  width: 50vw;
  background-color: #4527A0;
  border-radius: 64px;
}

.user-info-header {
  width: 100%;
  height: 120px;
  padding: 32px;
  background-color: #6200EA;
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
}

.user-info-body {
  width: 100%;
  padding: 32px;
}